In [1]:
# Import Dependencies
import numpy as np
import pandas as pd
from datetime import datetime
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
# Load Dataset
train_data = pd.read_csv('./Dataset/train.csv')

train_data.head()

,id,vendor_id,pickup_datetime,dropoff_datetime,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,store_and_fwd_flag,trip_duration
0,id2875421,2,2016-03-14 17:24:55,2016-03-14 17:32:30,1,-73.982155,40.767937,-73.964630,40.765602,N,455
1,id2377394,1,2016-06-12 00:43:35,2016-06-12 00:54:38,1,-73.980415,40.738564,-73.999481,40.731152,N,663
2,id3858529,2,2016-01-19 11:35:24,2016-01-19 12:10:48,1,-73.979027,40.763939,-74.005333,40.710087,N,2124
3,id3504673,2,2016-04-06 19:32:31,2016-04-06 19:39:40,1,-74.010040,40.719971,-74.012268,40.706718,N,429
4,id2181028,2,2016-03-26 13:30:55,2016-03-26 13:38:10,1,-73.973053,40.793209,-73.972923,40.782520,N,435

Find Feature Correlation. Since, <b>id</b> is always unique, so it's not a useful feature. Let's check it's correlation with the labels i.e. <b>trip_duration</b>.

In [3]:
print(train_data['pickup_datetime'][0].split(' ')[1])

17:24:55

In [4]:
for i in range(5):
    t1 = train_data['pickup_datetime'][i].split(' ')[1]
    t2 = train_data['dropoff_datetime'][i].split(' ')[1]
    FMT = '%H:%M:%S'
    time_diff = datetime.strptime(t2, FMT) - datetime.strptime(t1, FMT)
    print("Time Difference: ", time_diff)
    print("Time Difference (in seconds): ", time_diff.total_seconds())

Time Difference:  0:07:35
Time Difference (in seconds):  455.0
Time Difference:  0:11:03
Time Difference (in seconds):  663.0
Time Difference:  0:35:24
Time Difference (in seconds):  2124.0
Time Difference:  0:07:09
Time Difference (in seconds):  429.0
Time Difference:  0:07:15
Time Difference (in seconds):  435.0

In [5]:
# id vs trip_duration
#train_data['id'].corr(train_data['trip_duration'])

The <b>vendor_id</b> could be a thing that might define the trip duration. People might love to take one type of provider over other based on rates offered, distance to travel etc.

In [6]:
# vendor_id vs trip_duration
train_data['vendor_id'].corr(train_data['trip_duration'])

0.020304177490054781

Pickup date and time might be a god indicator of trip duration as on holidays, there might be a less traffic as compared to when people are at work. Also, people might like to take a ride when they go home or are going to office i.e. in morning or evening during workdays. So, during the day, the number of ride might be less and hence less duration.

In [ ]:
# pickup_datetime
train_data['pickup_datetime'].corr(train_data['trip_duration'])

In [9]:
for i in range(len(train_data['trip_duration'])):
    if (train_data['trip_duration'][i] > 86400):
        print("TRUE")

TRUE
TRUE
TRUE
TRUE